<app-search
  (isLoading)="setLoading()"
  (returnInitialData)="returnInitialData()"
  (findValue)="setSearchMode($event)"
  placeholder="Enter book name..."
></app-search>

<app-error
  *ngIf="isError && !isLoading"
  [errorMessage]="errorMessage"
></app-error>
<app-spinner *ngIf="isLoading"></app-spinner>

<div class="table-wrapper" *ngIf="!isError && !isLoading">
  <app-book-table
    [books]="books"
    [sortBy]="sortBy"
    [direction]="direction"
  ></app-book-table>

  <app-paginator
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [countItems]="countItems"
    (setItemsCount)="setItemsCount($event)"
    (getFirstPage)="getFirstPage()"
    (getLastPage)="getLastPage()"
    (getPreviousPage)="getPreviousPage()"
    (getNextPage)="getNextPage()"
  ></app-paginator>
</div>
