<app-search
  (isLoading)="setLoading()"
  [countItems]="countItems"
  placeholder="Enter book name..."
></app-search>
<app-error
  *ngIf="isError && !isLoading"
  [errorMessage]="errorMessage"
></app-error>
<app-spinner *ngIf="isLoading"></app-spinner>

<div class="table-wrapper" *ngIf="!isError && !isLoading">
  <table class="table">
    <thead>
      <td *ngFor="let title of titles">
        <span class="table-title">
          {{ title.title }}
          <img
            [ngClass]="{
              active: sortBy === title.sortBy,
              disabled: sortBy != title.sortBy,
              rotate: sortBy === title.sortBy && direction === 'DESC'
            }"
            src="assets/images/sort-arrow.svg"
            alt="sort-arrow"
            class="sort-arrow"
            (click)="onSortBy(title.sortBy)"
          />
        </span>
      </td>
    </thead>
    <tbody>
      <ng-template ngFor let-book [ngForOf]="books">
        <tr class="table-row" (click)="selectBook(book.id)">
          <td>
            {{ book.id }}
          </td>
          <td>{{ book.name }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.author.firstName }}</td>
          <td>{{ book.author.lastName }}</td>
          <td>{{ book.publisher.name }}</td>
          <td>{{ book.copies.count }}</td>
          <td>{{ book.copies.rate }}</td>
        </tr>
        <tr *ngIf="book.id === selectedBook">
          <td class="book-edit" colspan="8">
            <app-book-edit
              [id]="book.id"
              [name]="book.name"
              [year]="book.year"
            ></app-book-edit>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <paginator
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [countItems]="countItems"
    (setItemsCount)="setItemsCount($event)"
    (getFirstPage)="getFirstPage()"
    (getLastPage)="getLastPage()"
    (getPreviousPage)="getPreviousPage()"
    (getNextPage)="getNextPage()"
  ></paginator>
</div>
