<table class="authors-table">
  <thead>
    <td *ngFor="let title of titles">
      <span class="table-title">
        {{ title.title }}
        <app-sort
          *ngIf="_searchMode"
          [title]="title"
          [direction]="direction"
          [sortBy]="sortBy"
        ></app-sort>
      </span>
    </td>
  </thead>
  <tbody>
    <ng-template ngFor let-author [ngForOf]="authors">
      <tr class="table-row" (click)="selectAuthor(author.id)">
        <td>
          {{ author.id }}
        </td>
        <td>{{ author.firstName }}</td>
        <td>{{ author.lastName }}</td>
      </tr>
      <tr *ngIf="author.id === selectedAuthor">
        <td class="author-edit" colspan="8">
          <app-authors-edit
            [id]="author.id"
            [firstName]="author.firstName"
            [lastName]="author.lastName"
          ></app-authors-edit>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
