.initial-position {
  transform: rotate(-90deg);
}

.desc-direction {
  transform: rotate(90deg);
}

.disabled {
  opacity: 0;
  transform: rotate(-90deg);
}

.disabled:hover {
  opacity: 1;
}

.sort-arrow {
  margin-left: 5px;
  width: 10px;
}

.sort-arrow:hover {
  cursor: pointer;
}
