<div *ngIf="isLoggedIn" class="author-edit">
  <form
    class="author-edit__form"
    [formGroup]="authorForm"
    (submit)="onSubmit()"
  >
    <div class="author-edit__author-name">
      <mat-form-field class="author-edit__input-wrapper">
        <input
          matInput
          class="author-edit__input"
          type="text"
          placeholder="First name"
          formControlName="firstName"
        />
      </mat-form-field>
      <form-errors [field]="authorForm.get('firstName')"></form-errors>
    </div>
    <div class="author-edit__author-surname">
      <mat-form-field class="author-edit__input-wrapper">
        <input
          matInput
          class="author-edit__input"
          type="text"
          placeholder="Last name"
          formControlName="lastName"
        />
      </mat-form-field>
      <form-errors [field]="authorForm.get('lastName')"></form-errors>
    </div>
    <div class="wrapper-edit-buttons">
      <div class="author-edit__buttons">
        <button
          class="author-edit__save-button"
          mat-raised-button
          color="primary"
          [disabled]="!isLoggedIn || !authorForm.valid"
          type="submit"
        >
          Save
        </button>
        <button
          class="author-edit__delete-button"
          mat-raised-button
          color="warn"
          type="button"
          (click)="deleteAuthor()"
          [disabled]="!isLoggedIn"
        >
          Delete
        </button>
      </div>
      <app-error *ngIf="isError" [message]="errorMessage"></app-error>
    </div>
    <div class="author-edit__add-book">
      <button mat-raised-button type="button" (click)="addBook()">
        Add book
      </button>
    </div>
  </form>
</div>
