<div class="authForm">
  <mat-form-field>
    <input matInput placeholder="Username" type="text" [(ngModel)]="username" />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      type="password"
      [(ngModel)]="password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="checkLogin()">
    {{ isLogin ? "Sign in" : "Sign up" }}
  </button>
  <button
    mat-button
    type="button"
    (click)="changeAction()"
    class="changeAction"
  >
    {{ isLogin ? "Change on sign up" : "Change on sign in" }}
  </button>
</div>
