.book-edit-name {
  margin-right: 10px;
}

.book-edit-year {
  width: 70px;
}

.table-form {
  display: flex;
  justify-content: flex-start;
}

.table-form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.save-button {
  margin-right: 10px;
}

.table-form__inputs {
  display: flex;
}

.table-form-year {
  width: 130px;
}

.book-edit__get-buttons {
  margin-left: 10px;
}

._margin {
  margin: 0 10px;
}
