.publisher-edit__form {
  display: flex;
}

.publisher-edit {
  display: flex;
}
.publisher-edit__get-books {
  height: fit-content;
}

.wrapper-buttons {
  margin: 0 10px;
}

.publisher-edit__save-button {
  margin-right: 10px;
}

.publisher-edit__input-wrapper {
  width: 150px;
}
