<app-spinner *ngIf="isLoading"></app-spinner>
<app-error message="login" *ngIf="!isAuth"></app-error>
<app-signin-button *ngIf="!isAuth"></app-signin-button>
<app-successfull-message
  [message]="successMessage"
  [showMessage]="isSaved"
></app-successfull-message>
<app-error [message]="errorMessage" *ngIf="isError"></app-error>
<form
  *ngIf="!isLoading && isAuth"
  class="book-create-form"
  [formGroup]="bookForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Book's name"
      type="text"
      formControlName="name"
    />
  </mat-form-field>
  <form-errors [field]="bookForm.get('name')"></form-errors>
  <mat-form-field>
    <input
      matInput
      placeholder="Book's year"
      type="number"
      formControlName="year"
    />
  </mat-form-field>
  <form-errors [field]="bookForm.get('year')"></form-errors>

  <mat-form-field>
    <input
      matInput
      placeholder="Author's first name"
      type="text"
      formControlName="authorFirstName"
    />
  </mat-form-field>
  <form-errors [field]="bookForm.get('authorFirstName')"></form-errors>

  <mat-form-field>
    <input
      matInput
      placeholder="Author's last name"
      type="text"
      formControlName="authorLastName"
    />
  </mat-form-field>
  <form-errors [field]="bookForm.get('authorLastName')"></form-errors>

  <mat-form-field>
    <input
      matInput
      placeholder="Publisher's name"
      type="text"
      formControlName="publisherName"
    />
  </mat-form-field>
  <form-errors [field]="bookForm.get('publisherName')"></form-errors>

  <mat-form-field>
    <input matInput placeholder="Rate" type="number" formControlName="rate" />
  </mat-form-field>
  <form-errors [field]="bookForm.get('rate')"></form-errors>

  <mat-form-field>
    <input matInput placeholder="Count" type="number" formControlName="count" />
  </mat-form-field>
  <form-errors [field]="bookForm.get('count')"></form-errors>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="bookForm.invalid || !isAuth"
  >
    Save
  </button>
</form>
